# Data

기본적으로 사용할 데이터를 불러오고, 사용할 tool들을 세팅한다.

In [12]:
import pandas as pd 
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/AugustLONG/ML01/master/01decisiontree/AllElectronics.csv')
df.drop("RID",axis=1, inplace = True) #RID는 그냥 Index라서 삭제

In [13]:
df

            age  income student credit_rating class_buys_computer
0         youth    high      no          fair                  no
1         youth    high      no     excellent                  no
2   middle_aged    high      no          fair                 yes
3        senior  medium      no          fair                 yes
4        senior     low     yes          fair                 yes
5        senior     low     yes     excellent                  no
6   middle_aged     low     yes     excellent                 yes
7         youth  medium      no          fair                  no
8         youth     low     yes          fair                 yes
9        senior  medium     yes          fair                 yes
10        youth  medium     yes     excellent                 yes
11  middle_aged  medium      no     excellent                 yes
12  middle_aged    high     yes          fair                 yes
13       senior  medium      no     excellent                  no

데이터는 1번 과제와 동일하다

# getEntopy(df, feature) 만들기

In [14]:
def getEntropy(df, feature) :
    result = 0
    norm = df[feature].value_counts()
    for i in range(len(norm)):
        p = norm[i] / sum(norm)
        result += p*np.log2(p)
    entropy = -result    
      
    return entropy

우선 feature를 데이터 프레임에 인덱싱 시킨다. 그리고 value_counts를 통해 각 항목별 데이터의 수를 세준다. 이를 바탕으로 p를 위와 같이 만들고 Entropy 공식에 맞춰 함수를 만들어 준다. 이후 이 함수를 아래와 같이 돌리면 결과값은 다음과 같이 나온다.

In [15]:
getEntropy(df, "class_buys_computer")

0.9402859586706311

In [16]:
# 정답
getEntropy(df, "class_buys_computer")

0.9402859586706311

# getGainA(df, feature) 만들기

In [17]:
def getGainA(df, feature) :
    info_D = getEntropy(df, feature) # 목표변수에 대한 Entropy 를 구하기
    columns = list(df.loc[:, df.columns != feature]) # 목표변수(feature)를 제외한 나머지 변수들의 변수명을 리스트 형태로 저장
    ''' 
    채우세요!
    데이터프레임 df에서 feature을 목표변수로 삼고 나머지 각 변수들의 Gain을 구하는 함수입니다.
    결과는 List여도 좋고 Dictionary 여도 좋습니다.
    미리 주어진 2줄은 문제풀이에 도움을 주기 위해 주어졌으나, 무시하고 각자 원하는 방법으로 풀으셔도 전혀 무방합니다.
    '''
    return(result)

우선 info_D와 columns를 먼저 설정한다. info_D 같은 경우, getEntropy 함수를 사용해서 설정한다. 결과값은 딕셔너리 형태로 받을 예정이므로, result를 빈 딕셔너리로 만든다.

첫 번째 for 문을 통해 각 변수들을 받아주고, 데이터 프레임에 인덱싱하여 unique를 통해 항목을 파악한다. 그리고 이를 리스트 형식으로 받아둔다.

두번째 for 문을 통해 각 리스트에 있는 항목들을 받아준다. 위와 같이 항목들을 조건으로 데이터 프레임에 인덱싱 하여 새 데이터 프레임(이후 new)을 만든다. new를 다시 getEntropy에 넣어 엔트로피 값을 구하고 가중치들도 구한다. 위와 같은 과정을 거치고 엔트로피와 가중치 곱해서 더해준다. 마지막으로 gain값을 구하기 위해 info_D와 I을 빼준다. 

우리가 원하는 결과는 딕셔너리 형태이기 때문에 result[] = gain_으로 함으로써 아래와 같은 결과를 얻을 수 있다.

In [22]:
def getGainA(df, feature) :
    info_D = getEntropy(df, feature) # 목표변수에 대한 Entropy 를 구하기
    columns = list(df.loc[:, df.columns != feature]) # 목표변수(feature)를 제외한 나머지 변수들의 변수명을 리스트 형태로 저장
    ''' 
    채우세요!
    데이터프레임 df에서 feature을 목표변수로 삼고 나머지 각 변수들의 Gain을 구하는 함수입니다.
    결과는 List여도 좋고 Dictionary 여도 좋습니다.
    미리 주어진 2줄은 문제풀이에 도움을 주기 위해 주어졌으나, 무시하고 각자 원하는 방법으로 풀으셔도 전혀 무방합니다.
    '''
    result = {}
    for value in columns:
        I = 0
        a = list(df[value].unique())
        for i in range(len(a)):
            df_new = df[df[value]==a[i]]
            Entropy = getEntropy(df_new, feature)
            p = len(df_new)/len(df)
            I = I + p*Entropy
        gain_ = info_D - I
        result[value] = gain_
    return(result)

In [23]:
getGainA(df, "class_buys_computer")

{'age': 0.24674981977443933,
 'income': 0.02922256565895487,
 'student': 0.15183550136234159,
 'credit_rating': 0.04812703040826949}

In [57]:
# 정답
getGainA(df, "class_buys_computer")

[['age', 0.24674981977443933],
 ['income', 0.02922256565895487],
 ['student', 0.15183550136234159],
 ['credit_rating', 0.04812703040826949]]

따라서 구해진 gain값 중 age를 선택해 split하면 된다. 앞서 진행한 과제인 gini_index와 같은 결과임을 알 수 있다.